.tab_wrap {
  width:600px;
  margin:80px auto;
}

input[type="radio"] {
  display:none;
}

.tab_area {
  text-align:center;
  font-size:0;
  padding:0 55px;
}

.tab_area label {
  width:110px;
  display:inline-block;
  margin:10px 5px 0;
  padding:14px 0 12px;
  color:#fff;
  background:#666666;
  text-align:center;
  font-size:13px;
  cursor:pointer;
  transition:ease 0.2s
  opacity;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  vertical-align:bottom;
  &:hover {
    opacity:0.5;
  }
}

.panel_area {
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  border-top:8px solid #d7e9ea;
}

.tab_panel {
  width:100%;
  padding:80px 0;
  display:none;
}

.tab_panel p {
  font-size:14px;
  letter-spacing:1px;
  text-align:center;
}

#tab1:checked ~ .tab_area .tab1_label {
  background:#fff;
  color:#000;
}

#tab1:checked ~ .panel_area #panel1 {
  display:block;
}

#tab2:checked ~ .tab_area .tab2_label {
  background:#fff;
  color:#000;
}

#tab2:checked ~ .panel_area #panel2 {
  display:block;
}

#tab3:checked ~ .tab_area .tab3_label {
  background:#fff;
  color:#000;
}

#tab3:checked ~ .panel_area #panel3 {
  display:block;
}

